body {
  --traitor-red: #DF2935;
  --innocent-green: #1bc54e;
  --detective-blue: #2196F3;
  --font-black: #2A2A2A;
  --font-white: #FAFAFA;
  --highlight-orange: #FFAE00;
  --border-color: #363636;
  font-family: 'Poppins';
}

.btn {
  border: none;
  color: white;
  padding: 4px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  background-color: var(--traitor-red);
}

.price::before {
  content: '$';
  margin-right: 0.5rem;
  background: var(--traitor-red);
  border-radius: 50%;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  text-align: center;
  font-size: 0.9em;
}

.panel, .shop {
  background-color: #0009;
  border: 1px solid #000;
  border-radius: 2px;
  margin: auto;
  color: var(--font-white);
}

.panel h2, .shop h2,
.panel h3,
.shop h3 {
  margin: 0;
}

.panel h2, .shop h2 {
  font-size: 24px;
  font-weight: 500;
}


.panel h3,
.shop h3 {
  font-weight: 400;
  font-size: 18px;
}

.panel .header, .shop .header {
  border-bottom: var(--border-color) 1px solid;
  background-color: #0007;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.panel main, .shop main {
  padding: 16px 30px;
  overflow-y: auto;
}

.panel main::-webkit-scrollbar, .shop main::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  opacity: 0;
  margin-right: 2px;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.panel main::-webkit-scrollbar:hover, .shop main::-webkit-scrollbar:hover {
  background-color: #fffc;
}

.panel main::-webkit-scrollbar-thumb, .shop main::-webkit-scrollbar-thumb {
  background: var(--traitor-red);
  opacity: 0;
}

.panel main::-webkit-scrollbar-track, .shop main::-webkit-scrollbar-track {
  background: #fffa;
}

.panel footer, .shop footer {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-top: var(--border-color) 1px solid;
  background-color: #0007;
  padding: 16px 30px;
}

.panel.sm, .sm.shop {
  border-radius: 4px;
  max-width: 500px;
}

.panel.lg, .shop {
  border-radius: 8px;
  max-width: 800px;
}

.panel.lg .header, .shop .header {
  padding: 16px 30px;
}

.panel.xl, .xl.shop {
  border-radius: 8px;
  max-width: 1200px;
}

.panel.xl .header, .xl.shop .header {
  padding: 16px 30px;
}

body {
  --traitor-red: #DF2935;
  --innocent-green: #1bc54e;
  --detective-blue: #2196F3;
  --font-black: #2A2A2A;
  --font-white: #FAFAFA;
  --highlight-orange: #FFAE00;
  --border-color: #363636;
  font-family: 'Poppins';
}

.btn {
  border: none;
  color: white;
  padding: 4px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  background-color: var(--traitor-red);
}

.price::before {
  content: '$';
  margin-right: 0.5rem;
  background: var(--traitor-red);
  border-radius: 50%;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  text-align: center;
  font-size: 0.9em;
}

.shop .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.shop .item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop main {
  max-height: 400px;
}

.shop footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop footer .price {
  font-size: 22px;
  font-weight: 500;
  margin-right: 10px;
}

.shop footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop .item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-bottom: 25px;
}

.shop .item .item-holder {
  width: 100px;
  -webkit-transition: all linear 0.05s;
  transition: all linear 0.05s;
  cursor: pointer;
}

.shop .item .item-holder.active, .shop .item .item-holder:hover {
  border-width: 2px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.shop .item .item-holder.active .icon, .shop .item .item-holder:hover .icon {
  -webkit-box-shadow: 0px 2px 5px 1px #0000004d;
          box-shadow: 0px 2px 5px 1px #0000004d;
}

.shop .item .item-holder.active {
  cursor: default;
}

.shop .item .item-holder .icon {
  height: 100px;
  width: 100px;
  background: #fafafa;
  border-radius: 4px;
  border: 1px solid #031421;
  text-align: center;
}

.shop .item .item-holder .icon img {
  max-width: 80%;
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.shop .item .price {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 22px;
  font-weight: 500;
}
/*# sourceMappingURL=Shop.css.map */