@import "Panel";
@import "general";

.shop {
    @extend .panel;
    @extend .panel.lg;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .item-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    main {
        max-height: 400px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        .price {
            font-size: 22px;
            font-weight: 500;
            margin-right: 10px;
        }
        .right {
            display: flex;
            align-items: center;
        }
    }
    .item {
        flex-basis: 20%;
        margin-bottom: 25px;
        .item-holder {
            width: 100px;
            transition: all linear 0.05s;
            cursor: pointer;
            &.active,
            &:hover {
                border-width: 2px;
                transform: scale(1.05);
                .icon {
                    box-shadow: 0px 2px 5px 1px #0000004d;
                }
            }
            &.active {
                cursor: default;
            }

            .icon {
                height: 100px;
                width: 100px;
                background: #fafafa;
                border-radius: 4px;
                border: 1px solid #031421;
                text-align: center;
                img {
                    max-width: 80%;
                    margin-top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .price {
            display: block;
            text-align: center;
            margin-top: 5px;
            font-size: 22px;
            font-weight: 500;
        }
    }
}
